# python
__pycache__/
test/

# ruff
.ruff_cache/

# output
output
output_131

# Claude Code
.claude/
CLAUDE.md

# Folders 
.backup_local/
.vscode/
scripts/
results/
wandb/
# Etc
fid*
classify_image_graph_def.pb
*.ipynb

analysis/